/*******
    RESET
*******/

body {
  margin: 0;
  background-color: #0000cc;
  overflow-x: hidden;
  font-family: "Roboto", "Helvetica", sans-serif;
}

ul li {
  list-style-type: none;
}

ul {
  padding: 0;
}


/*******
    GENERAL
*******/



/*******
    HEADER
    (Links all around the page)
*******/




/*******
    MENUS
*******/

nav {
  background-color: white;
  padding: 25px;
  position: fixed;
  z-index: 99;
  box-sizing: border-box;
}

nav a, nav a:visited {
  text-decoration: none;
  color: black;
  padding: 5px 0;
}

nav a:hover {
  border-bottom: 2px solid black;
}

nav ul {
  display: flex;
  margin: 0;
}

#list-languages, #list-social-media {
  width: 15px;
}

/*Menu principal*/
#nav-main {
  width: 100%;
  display: flex;
  justify-content: right;
}


#nav-main .menu-item:not(:first-child) {
  padding: 0 0 0 15px;
}

#nav-main .menu-item:last-child {
  padding-right: 40px; /* pour compenser la barre de menu à droite */
}

/*Menu lang*/
#nav-languages {
  height: 100vh;
  box-sizing: border-box;
  right: 0;
  display: flex;
  align-items: flex-end;
}

#list-languages {
  /*On pourrait écrire le texte en vertical mais la compatibilité n'est pas top*/
  /*writing-mode: vertical-rl;*/
  /*text-orientation: mixed;*/
  width: 15px;
  transform: rotate(90deg) translate(-200%);
  text-transform: uppercase;
}

#list-languages li:not(:last-child) {
  margin-right: 10px;
}

/*Menu social media*/
#nav-social-media {
  height: 100vh;
  box-sizing: border-box;
  left: 0;
  display: flex;
  align-items: flex-end;
}

#list-social-media {
  transform: rotate(-90deg);
}

#list-social-media li:not(:last-child) {
  margin-right: 25px;
}