/*****

  GENERAL

 ******/

body {
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;*/
}

#return {
    position: absolute;
    top: 45px;
    left: 0;
    background-color: black;
    padding: 0 20px 5px;
    font-size: 2em;
}

#return a, #return a:visited {
    text-decoration: none;
    color: white;
}

/*****

  IMAGES

 ******/

body {
    opacity: 1;
    transition: 1s ease;
    overflow: hidden;
}

.allimages {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling:touch;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 102vh;
    z-index: -1;
}

.allimages figure {
    display: inline-block;
    margin: 0 !important;
    width: 100vw;
    overflow: hidden;
    padding: 0;
}

.allimages figure img {
    object-fit: cover;
}


/*****

    TEXT

 ******/

.text-content {
    background-color: black;
    position: absolute;
    top: 45px;
    left: 75px;
    color: white;
    padding: 15px 25px;
    font-size: 0.8em;
    font-family: "Space Mono", monospace;
    width: 500px;
}

.alltags {
    position: absolute;
    right: 20px;
    text-align: right;
    bottom: 20px;
    font-size: 1.2em;
}

.alltags span {
    /*margin: 0 2px;*/
}



/*****

  FOOTER

 ******/

.footer-madewithkirby {
    position: absolute;
    bottom: 0;
    left: 10px;
}