/*****

  GENERAL

 ******/


body {
    width: 100vw;
    background-color: white;
    opacity: 1;
    transition: 1s ease;
    overflow-x: hidden;
}


#return {

    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#return span {
    text-decoration: none;
    color: black;
}

/*****

  IMAGES

 ******/


.allimages {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling:touch;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 102vh;
    z-index: -1;
}

.allimages figure {
    display: inline-block;
    margin: 0 !important;
    width: 100vw;
    overflow: hidden;
    padding: 0;
}

.allimages figure img {
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 100vh;
}

#container-for-hiding-scrollbar-project {
    /*width: 96vw;*/
    height: 88vh;
    position: absolute;
    top: 5vh;
    left: 70px;
    overflow: hidden;
    z-index: 99;
}

#left-arrow, #right-arrow {
    position: absolute;
    top: 0;
    width: 4vw;
    height: 100vh;
    background-color: white;
    z-index: 9999;
    padding:50vh 0 0 0;
    color: black;
    text-align: center;
    cursor: pointer;
}

#left-arrow {
    left:0;
    /*background-color: blue;*/
}

#right-arrow {
    right: 0;
    /*background-color: red;*/
}


/*****

    TEXT

 ******/

@media (max-width: 768px) {

    .text-content #title-plus-year, .text-content .small-description, .text-content .main-description, .text-content .external-links, .text-content .single-press {
        left: auto !important;
        transform: translateX(0) !important;
    }

    #container-for-hiding-scrollbar-project {
        /*left: 30px !important;*/
        /*width: 95vw !important;*/
        left: 0;
        width: 100vw;
    }
    .text-content {
        left: 50px !important;
        width: 70vw !important;
    }

    .text-content h1 {
        font-size: 30px !important;
        text-align: left !important;
    }

    .text-content .main-description {
        margin-top: 20px !important;
    }

    .text .alltags {
        font-size: 0.8em !important;
        position: absolute !important;
    }

    .text-content .single-press {
        flex-direction: column;
        margin-top: 30px;
        /*padding-bottom: 10px;*/
        /*border-bottom: 1px solid #ddd;*/
    }

    .text-content .single-press p, .text-content .single-press a {
        margin-top: 0;
        margin-bottom: 0;
    }

    .leftbar {
        top: 0;
        height: 40px;
        width: 60px;
        box-sizing: border-box;
        font-size: 1.2em !important;
    }

}

.text-content {
    background-color: white;
    color: black;
    padding: 15px 0 200px;
    font-size: 0.9em;
    /*font-family: "Space Mono", monospace;*/
    width: 620px;
    line-height: 1.5;
    position: absolute;
    top: 100vh;
}

.text-content #title-plus-year {
    display: flex;
    align-items: last baseline;
    -webkit-align-items: baseline;
    position: relative;
    left:50vw;
    transform: translateX(-50%);
    margin-bottom: 15px;
}

.text-content h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 0;
}

.text-content .date {
    margin-left: 15px;
    font-weight: 200;
}

.text-content .small-description {
    /*text-align: center;*/
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    font-size: 1.3em;
}

.text-content .main-description {
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    margin: 40px 0 70px;
}

.text .alltags {
    position: fixed;
    right: 20px;
    text-align: right;
    bottom: 40px;
    font-size: 1em;
    z-index: 99999;
}

.text .alltags span {
    /*margin: 0 2px;*/
}

.text-content .external-links, .text-content .single-press {
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    display: flex;
    align-items: baseline;
}

.single-press {
    font-size: 1em;
}
.single-press a {
    color: blue;
    text-decoration: none;
    border-bottom: 2px solid blue;
}

.single-press a:hover {
    border-bottom: none;
}

.single-press p, .single-press a {
    margin-right: 5px;
}

.text-content .press {
    margin-top: 20px;
}

.text .video a, .text .website a {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-right: 10px;
    border: 1px solid white;
    transition: 0.5s ease;
}

.video a:hover, .website a:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 30px 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*****

  FOOTER

 ******/

/*.footer-madewithkirby {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 10px;*/
/*}*/