/*****

  GENERAL

 ******/


body {
    width: 100vw;
    background-color: white;
    opacity: 1;
    transition: 1s ease;
    overflow-x: hidden;
}


#return {

    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#return span {
    text-decoration: none;
    color: black;
}

/*****

  IMAGES

 ******/


.allimages {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling:touch;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 102vh;
    z-index: -1;
}

.allimages figure {
    display: inline-block;
    margin: 0 !important;
    width: 100vw;
    overflow: hidden;
    padding: 0;
}

.allimages figure img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

#container-for-hiding-scrollbar-project {
    /*width: 96vw;*/
    height: 88vh;
    position: absolute;
    top: 5vh;
    left: 70px;
    overflow: hidden;
    z-index: 99;
}

#left-arrow, #right-arrow {
    position: absolute;
    top: 0;
    width: 4vw;
    height: 100vh;
    background-color: white;
    z-index: 9999;
    padding:50vh 0 0 0;
    color: black;
    text-align: center;
    cursor: pointer;
}

#left-arrow {
    left:0;
    /*background-color: blue;*/
}

#right-arrow {
    right: 0;
    /*background-color: red;*/
}


/*****

    TEXT

 ******/

.text-content {
    background-color: white;
    color: black;
    padding: 15px 0 200px;
    font-size: 0.8em;
    /*font-family: "Space Mono", monospace;*/
    width: 600px;
    line-height: 1.5;
    position: absolute;
    top: 100vh;
    left: 70px;
}

.text-content h1 {
    text-align: center;
    position: relative;
    left: 50%;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 0;
}

.text-content .small-description {
    text-align: center;
    position: relative;
    left: 50%;
    font-size: 20px;
}

.text .alltags {
    position: fixed;
    right: 20px;
    text-align: right;
    bottom: 20px;
    font-size: 1em;
    z-index: 999;
}

.text .alltags span {
    /*margin: 0 2px;*/
}

.text .video a {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.2em;
}




/*****

  FOOTER

 ******/

/*.footer-madewithkirby {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 10px;*/
/*}*/